<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="com.trisysLOS.utilities.MyListeners">
		</listener>
	</listeners>
	<test thread-count="5" name="Test">
		<parameter name="browser" value="chrome"></parameter>
		<groups>
		<define name=""></define>
			<run>
				<include name="Sanity"></include>
			</run>
		</groups>
		<classes>
			<!-- <class name="com.trisysLOS.tests.LoansDetailsPageTest" /> <class 
				name="com.trisysLOS.tests.LoanDeletePageTest" /> <class name="com.trisysLOS.tests.LoansListingPageTest" 
				/> <class name="com.trisysLOS.tests.CreateLoanPageTest" /> -->
			<class name="com.trisysLOS.tests.AdminLoginPageTest" />
			<!-- <class name="com.trisysLOS.tests.EditLoanPageTest" /> <class name="com.trisysLOS.tests.AddSchemePageTest" 
				/> <class name="com.trisysLOS.tests.SchemesListingPageTest" /> -->
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
